<% folders.each do |folder| %>
    <div class="card mx-auto">
      <div class="card-body">
        <span class="user-name">
          <% if folder.user.avatar? %>
            <%= link_to (image_tag folder.user.avatar.to_s, class:"icon"), user_path(folder.user) %>
          <% else %>
            <%= link_to image_tag('https://topituku.s3-ap-northeast-1.amazonaws.com/default_user_image.jpg', class:"icon"), user_path(folder.user) %>
          <% end %>
          <%= link_to folder.user.name, user_path(folder.user) %>
        </span>
        <p>
        <div class="ml-3">
          <p>
          <div class="ml-3">
            <span class="folder-title"><%= link_to "#{folder.title}","/game/#{folder.id}" %></span>
            <span class="float-right mt-3">
              <span class="float-right">
                <span id="likes_buttons_<%= folder.id %>">
                  <%= render partial: 'likes/like', locals: { folder: folder} %>
                </span>
                <%= link_to "","/game/#{folder.id}",class: "fas fa-gamepad fa-2x fa-fw mr-2 ml-3" %>
                <%= link_to "",folder_posts_path(folder),class: "fas fa-folder-open fa-2x fa-fw mr-1" %>
                <% if folder.user == current_user %>
                  <%= link_to "",new_folder_post_path(folder),class: "far fa-plus-square fa-2x fa-fw" %>
                  <ul class="dropdwn">
                    <li ><span class="fas fa-caret-square-down fa-2x fa-fw"></span>
                      <ul class="dropdwn_menu">
                        <% if folder.user == current_user %>
                          <li><%= link_to "フォルダ名編集",edit_folder_path(folder) %></li>
                          <li><%= link_to "フォルダ削除", folder_path(folder), method: :delete %></li>
                        <% end %>
                      </ul>
                    </li>
                  </ul>
                <% end %>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
