<% if user == current_user %>
  <%= link_to "", edit_user_registration_path(@user),class:"fas fa-user-edit fa-border fa-2x mb-3 user-edit" %>
<% end %>
<div class="text-center">
  <div class="user-name-show">
    <% if user.avatar? %>
      <%= link_to (image_tag user.avatar.to_s, class:"icon"), user_path(user) %>
    <% else %>
      <%= link_to image_tag('https://topituku.s3-ap-northeast-1.amazonaws.com/default_user_image.jpg', class:"icon"), user_path(user) %>
    <% end %>
    <%= link_to user.name, user_path(user) %>
  </div>
</div>
<div class="text-center">
  <div class="mb-3" id="follow_ajax_<% user.id %>"><%= render partial: 'relationships/follow_btn', locals: { user: user } %></div>
  <span class="mr-3 under-line"><%= link_to "#{@follow_count}：フォロー中", follows_user_path(user) %></span>
  <span class="under-line"><%= link_to "#{@follower_count}：フォロワー", follows_user_path(user) %></span>
</div>