

<%= render partial: 'users/user_icon', locals: { user: @folder.user } %>      
<div class="text-center mt-4">
  <%= form_with model:[@folder, @folder.posts.build],local:true do |f| %>
    <%= f.text_field:content, placeholder: "トピックを追加", class: "w-50 form-label-group form" %>
    <%= f.submit "投稿", class: "btn btn-primary submit-btn" %>
  <% end %>
  <%= link_to "ゲーム開始！","/game/#{@folder.id}", class: "btn btn-info btn-lg game-btn" %>
</div>

<div class="text-center">
  <p class="lead mt-4 mb-4">「<%= @folder.title %>」のトピック一覧</p>
</div>

<% if @posts.blank? %>
  <div class="card mx-auto" style="width: 90%;">
    <div class="card-body text-center">
      トピックが投稿されていません。
    </div>
  </div>
<% else %>
  <%= render partial: 'listpost', locals: { folders: @posts} %>
<% end %>